.search {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 5px 20px;
  width: 400px;
  line-height: 30px;
  margin-bottom: 30px;
  font-family: "Quicksand", sans-serif;
  -moz-box-shadow: 0.5px 0.5px 2px 3px rgba(204, 204, 204, 0.411);
  -webkit-box-shadow: 0.5px 0.5px 2px 3px rgba(204, 204, 204, 0.411);
  box-shadow: 0.5px 0.5px 2px 3px rgba(204, 204, 204, 0.411);
  border-radius: 25px;
}

::placeholder {
  padding: 5px;
}
